@model SAP.Models.FillOutSurveyQuestionsViewModel

@{ 
    ViewBag.Title = "Fill Out";
}
<div ng-app="SapApp" ng-controller="FillOutController" ng-init="loadQuestions()">
    <div class="alert alert-warning" ng-if="!form.questions.length">
        <p>No questions for this survey</p>
    </div>
    <div class="w3-card-4" ng-if="form.questions.length">
        <div class="w3-container w3-green">
            <h2 class="text-center">@Model.Survey.Name</h2>
        </div>

        <form class="w3-container" action="@Url.Action("FillOut")" method="post" name="fillForm" novalidate>
            <div ng-repeat="question in form.questions">
                <div ng-switch="question.type">
                    <div ng-switch-when="text">
                        <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                        <p> {{ question.description }}</p>
                        <input class="w3-input form-width" type="text" ng-required="question.required" ng-model="question.answer">
                    </div>
                    <div ng-switch-when="textarea">
                        <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                        <p> {{ question.description }}</p>
                        <textarea class="w3-input form-width" ng-required="question.required" ng-model="question.answer"></textarea>
                    </div>
                    <div ng-switch-when="radio">
                        <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                        <p> {{ question.description }}</p>
                        <div ng-repeat="val in question.values">
                            <input class="w3-radio" type="radio" ng-value="val" name="{{question.Id}}" ng-model="question.answer" ng-required="question.required"/> {{ val }}
                        </div>
                    </div>
                    <div ng-switch-when="checkbox">
                        <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                        <p> {{ question.description }}</p>
                        <div ng-repeat="val in question.values track by $index">
                            <input class="w3-check" type="checkbox" ng-model="checkboxes[val]"/> {{ val }}
                        </div>
                    </div>
                    <div ng-switch-when="select">
                        <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                        <p> {{ question.description }}</p>
                        <select class="w3-select" ng-model="question.answer">
                            <option value="" disabled selected>Choose...</option>
                            <option ng-repeat="val in question.values" ng-value="val">
                                {{ val }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            
            @*<div ng-repeat="question in form.questions" ng-init="question.type" style="margin-bottom:10px">
                <h4>{{ ($index+1) +". "+ question.title }}<span ng-if="question.required" style="color:red; display:inline">*</span></h4>
                <p> {{ question.description }}</p>
                <input class="w3-input form-width" type="{{ question.type }}" ng-required="question.required" ng-model="question.answer">
            </div>*@
            <p class="text-center"><input type="button" ng-click="submit()" class="btn btn-primary" ng-disabled="fillForm.$invalid" value="Submit" /></p>
        </form>
    </div>
    <p class="text-left"><a ng-href="/Surveys/Index" target="_self"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back</a></p>
</div>
@section Scripts {
    
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    }