@using Webdiyer.WebControls.Mvc
@model PagedList<SAP.Models.ApplicationUser>

@{
    ViewBag.Title = "Admin Page";
}
<div>
    <h4 class="page-header">
        Users
        <a href="@Url.Action("Create","Admin")"><i class="glyphicon glyphicon-plus"></i></a>
    </h4>
    <div class="form-inline well well-sm">
        @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "items", HttpMethod = "Get", InsertionMode = InsertionMode.Replace }, new RouteValueDictionary { { "id", "searchForm" }, { "class", "" } }))
        {
            <span>Search:</span>
            <input type="text" name="search" placeholder="e.g., Janet,Michael" id="emp" style="width: 180px" class="form-control" />
            <input type="submit" value="Search" accesskey="S" class="btn btn-default" />
            @Html.ActionLink("Reset", "Index", new { search = "" }, new { @class = "btn btn-default" })
        }

    </div>
    <div id="items">
        @{
            @Html.Partial("_IndexPartial", Model);
        }
    </div>
</div>
@section Scripts{
    @{
        Html.RegisterMvcPagerScriptResource();
    }
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}




    
   

    

        

   