@{
    ViewBag.Title = "Index";
}
<hr />
<div class="container-fluid">
    <div class="alert alert-info">
        <h4>
            @ViewBag.MessageTitle
        </h4>
        <p>
            <strong>@ViewBag.Message</strong>
        </p>
    </div>
</div>
<hr />