
@{
    ViewBag.Title = "AccessDenied";
}

<div class="container-fluid">
<div class="alert-message alert-message-danger">
    <h4>
        Access Denied
    </h4>
    <p>
        <strong>You don't have permission to view this content</strong>
    </p>
</div>
</div>

